<div class="header">
  <button><img src="icons/arrow-left.svg" alt="back"></button>
  <h1>მომხმარებლები</h1>
</div>
<div class="line"></div>
<div class="avatar"><img src="profile-temp.png" alt="user's avatar"></div>
<div class="info">
    <app-info-div label="მომხმარებლის სახელი" text="ბესიკ"/>
    <app-info-div label="მომხმარებლის გვარი" text="კაპანძე"/>
    <app-info-div label="ელ.ფოსტა" text="besiki@domain.com"/>
    <app-info-div label="მომხმარებლის ჯგუფი" text="ყველაზე დიდი მომხმარებელთა ჯგუფი"/>
</div>
