:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #EFEFF4;
}

.pagination-info {
    font-size: 12px;
    color: #1A1512;
    opacity: 0.5;
    margin-left: 20;
}

.pagination-buttons {
    display: flex;
    gap: 8px;

}

.pagination-buttons a{
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #EAEAEA;
    border-radius: 6px;
    color: #00081180;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 10px;
    background-color: #FFFFFF;
}

.pagination-buttons a:hover{
    filter: brightness(96%);
}

.pagination-buttons a.active  {
    background-color: #C73734;
    border: 2px solid #C73734;
    color: #FFFFFF;;
}

.pagination-buttons a.arrow {
    background-color: #F8FAFB;
    border: 2px solid #E9EEF0;
    color: #818B9A;
}