<a routerLink="" class="logo-link">
  <img src="logo.svg" alt="GSE" />
</a>
<ul>
  <li app-navigation-item linksTo="test">დასახელება</li>
  <li app-navigation-item linksTo="test2">სურათები ავტორიზაციის გვერდზე</li>
  <li app-navigation-item linksTo="test3">ინსტრუქცია ავტორიცაზიის გვერდზე</li>
  <li app-navigation-item linksTo="test4">პარამეტრები</li>
  <li app-navigation-item linksTo="users">მომხმარებლის ჯგუფები</li>
  <li app-navigation-item linksTo="test5" [hasDropdown]="true">დასახელება</li>
</ul>
