<div class="header">
  <div class="title-search">
    <h1>მომხმარებლები</h1>
    <form (ngSubmit)="onSearch(search)">
      <input #search
        type="search"
        name="search"
        id="search"
        placeholder="მოძებნეთ მომხმარებელი"
      />
      <button>
        <img src="icons/search.svg" alt="search" />
      </button>
    </form>
  </div>
  <div class="line"></div>
  <div class="redact-filter">
    <button (click)="onEditUser()">რედაქტირება</button>
    <div>
      <button><img src="icons/filter.svg" alt="filter" /></button>
      <button>
        <img src="icons/file-earmark-word.svg" alt="export file" />
      </button>
    </div>
  </div>
</div>
<div class="users-container">
  @for (user of users(); track user.email) {
  <app-user-item
    [firstName]="user.firstName"
    [lastName]="user.lastName"
    [email]="user.lastName"
    [picture]="user.image"
    [selected]="user.id === selectedId()"
    (dblclick)="onDoubleClickUser(user)"
    (click)="onClickUser(user.id)"
  />
  }
</div>
<app-pagination [total]="total()" [usersThisPage]="usersThisPage()" />
<app-edit-dialog [showDialog]="showDialog()" (closeDialog)="onStopEditingUser()"></app-edit-dialog>
