<div class="header">
  <div class="title-search">
    <h1>მომხმარებლები</h1>
    <div>
      <input
        type="search"
        name="search"
        id="search"
        placeholder="მოძებნეთ მომხმარებელი"
      />
      <img src="icons/search.svg" alt="search" />
    </div>
  </div>
  <div class="line"></div>
  <div class="redact-filter">
    <button>რედაქტირება</button>
    <div>
      <button><img src="icons/filter.svg" alt="filter" /></button>
      <button>
        <img src="icons/file-earmark-word.svg" alt="export file" />
      </button>
    </div>
  </div>
</div>
<div class="users-container">
  @for (user of users(); track user.email) {
  <app-user-item
    [firstName]="user.firstName"
    [lastName]="user.lastName"
    [email]="user.lastName"
    [picture]="user.image"
  />
  }
</div>
<div class="pagination">
  <div class="pagination-info">ნაჩვენებია x შედეგი - y შედეგიდან</div>
  <div class="pagination-buttons">
    <button class="arrow">&#60;</button>
    <button class="active">1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    <button>5</button>
    <button class="arrow">&#62;</button>
  </div>
  <!-- maybe add seperate component for this -->
</div>
